<div class="comments">
  {{ title}}
  {{post.createdAt}}
  <section class="comment">
    <div class="meta">
       on {{createdAt}}
    </div>
    <div class="text">
      {{content}}
    </div>
  </section>
</div>